.cut-text { 
	text-overflow: ellipsis;
	overflow: hidden; 
	width: 700px; 
	height: 1.2em; 
	white-space: nowrap;
}

#tblBookmarks {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
}

td {
	white-space: nowrap;
}

.colDateModified {
	white-space: nowrap;
}

.colURL {
	width: 100%;
}

.colBookmarked {
}

.colState {
}

.colImpression {
}
