body {
	width: 784px;
	height: 569px
}

textarea {
	width: 100%;
}

.grid-container {
	display: grid;

	grid-template-columns: auto auto auto auto;
		
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	padding: 10px;
}

.grid-item.impression {
	text-align: left;
}

.grid-item.state {
	text-align: left;
}

.grid-item.bookmark {
	text-align: right;
}

.grid-item.close {
	text-align: right;
}

.grid-item.tags {
	grid-column-start: 1;
	grid-column-end: 6;
	
	text-align: left;
}

.grid-item.comment {
	grid-column-start: 1;
	grid-column-end: 6;
	
	text-align: left;
}

